
name: openwrt-build-github-actions

# 4C/16GRAM/14GSSD

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
#    - name: checkout
#      uses: actions/checkout@main
#
#    - name: install-buildsystem
#      run: |
#        # whoami => runner
#        # pwd => /home/runner/work/openwrt-custom-build/openwrt-custom-build
#        sudo apt update
#        #sudo apt upgrade -y
#        #sudo apt install -y build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses-dev libssl-dev python3 rsync unzip zlib1g-dev file wget
#        sudo timedatectl set-timezone "Asia/Shanghai"
#        echo "TARGET_VERSION=$(cat target.txt)" >> $GITHUB_ENV
#
#    - name: clone-openwrt
#      working-directory: ${{env.TARGET_VERSION}}
#      run: |
#        echo ${{env.TARGET_VERSION}}
#        git clone https://github.com/openwrt/openwrt.git
#        cd openwrt
#        git checkout ${{env.TARGET_VERSION}}
#
#    - name: update-feeds
#      working-directory: ${{env.TARGET_VERSION}}/openwrt
#      run: ./scripts/feeds update -a
#
#    - name: install-feeds
#      working-directory: ${{env.TARGET_VERSION}}/openwrt
#      run: ./scripts/feeds install -a
#
#    - name: download-depend
#      working-directory: ${{env.TARGET_VERSION}}/openwrt
#      run: make defconfig download clean
#
#    - name: config-targets
#      working-directory: ${{env.TARGET_VERSION}}
#      run: bash ./config.sh
#
#    - name: build-targets
#      working-directory: ${{env.TARGET_VERSION}}
#      run: bash ../build.sh

    - name: test-release
      run: |
        mkdir -p bin
        echo "mt7620" > bin/openwrt-24.10.4-ramips-mt7620-phicomm_k2-v22.5-16m-squashfs-sysupgrade.bin
        echo "mt7621" > bin/openwrt-24.10.4-ramips-mt7621-phicomm_k2p-32m-squashfs-sysupgrade.bin
        echo "release" > release.txt

    - name: create-release
      uses: softprops/action-gh-release@master
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      with:
        tag_name: "v24.10.4"
        body_path: release.txt
        draft: false
        prerelease: false
        files: bin/*-squashfs-sysupgrade.bin

    - name: delete-workflow-runs
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 0
        keep_minimum_runs: 12
