
name: openwrt-build-github-actions

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    # 4C/16GRAM/14GSSD

    steps:
    - name: checkout
      uses: actions/checkout@main

    - name: install-buildsystem
      run: |
        # whoami => runner
        # pwd => /home/runner/work/openwrt-custom-build/openwrt-custom-build
#        sudo apt update
#        sudo apt upgrade -y
#        sudo apt install -y build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses-dev libssl-dev python3 rsync unzip zlib1g-dev file wget
        sudo timedatectl set-timezone "Asia/Shanghai"
        echo "TARGET_VERSION=$(cat target.txt)" >> $GITHUB_ENV
        
    - name: clone-openwrt
      working-directory: ${{env.TARGET_VERSION}}
      run: |
        echo ${{env.TARGET_VERSION}}
        git clone https://github.com/openwrt/openwrt.git
        cd openwrt
        git checkout ${{env.TARGET_VERSION}}

#    - name: update-feeds
#      working-directory: ${{env.TARGET_VERSION}}/openwrt
#      run: ./scripts/feeds update -a
#
#    - name: install-feeds
#      working-directory: ${{env.TARGET_VERSION}}/openwrt
#      run: ./scripts/feeds install -a
#
#    - name: download-depend
#      working-directory: ${{env.TARGET_VERSION}}/openwrt
#      run: make defconfig && make download -j4

    - name: build-targets
      working-directory: ${{env.TARGET_VERSION}}
      run: chmod +x config.sh && ./${{env.TARGET_VERSION}}/config.sh
 
#    - name: build-targets
#      working-directory: ${{env.TARGET_VERSION}}/openwrt
#      run: make -j4 V=s
#
#    - name: upload-bin
#      uses: actions/upload-artifact@main
#      working-directory: ${{env.TARGET_VERSION}}
#      if: !cancelled()
#      with:
#        path: bin/*-squashfs-sysupgrade.bin
#
#    - name: create-release
#      uses: softprops/action-gh-release@master
#      working-directory: ${{env.TARGET_VERSION}}
#      if: !cancelled()
#      with:
#        tag_name: ${{env.TARGET_VERSION}}
#        body_path: release.txt
#        files: bin/*-squashfs-sysupgrade.bin
#
#    - name: delete-workflow-runs
#      uses: Mattraks/delete-workflow-runs@main
#      with:
#        retain_days: 0
#        keep_minimum_runs: 2
