
name: openwrt-build-github-actions

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # 4C/16GRAM/14GSSD

    steps:
    - name: checkout
      uses: actions/checkout@main

    - name: install-buildsystem
      run: |
        apt update
        apt upgrade -y
        apt install -y build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses-dev libssl-dev python3 rsync unzip zlib1g-dev file wget
        timedatectl set-timezone "Asia/Shanghai"

    - name: clone-openwrt
      working-directory: /workdir
      run: git clone https://github.com/openwrt/openwrt.git

    - name: update-feeds
      run: ./scripts/feeds update -a

    - name: install-feeds
      run: ./scripts/feeds install -a
