
name: openwrt-build-github-actions

# 4C/16GRAM/14GSSD

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@main

    - name: install-buildsystem
      run: |
        # whoami => runner
        # pwd => /home/runner/work/openwrt-custom-build/openwrt-custom-build
        sudo apt update
        #sudo apt upgrade -y
        #sudo apt install -y build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses-dev libssl-dev python3 rsync unzip zlib1g-dev file wget tree
        sudo timedatectl set-timezone "Asia/Shanghai"
        echo "VERSION=$(cat version.txt)" >> $GITHUB_ENV
        mkdir -p bin

    - name: clone-openwrt
      run: |
        echo ${{env.VERSION}}
        git clone https://github.com/openwrt/openwrt.git
        cd openwrt
        git checkout ${{env.VERSION}}

    - name: update-feeds
      working-directory: openwrt
      run: ./scripts/feeds update -a

    - name: install-feeds
      working-directory: openwrt
      run: ./scripts/feeds install -a

    - name: config-targets
      run: bash ./config.sh

    - name: build-targets
      run: bash ./build.sh

    - name: create-release
      uses: softprops/action-gh-release@master
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      with:
        tag_name: ${{env.VERSION}}
        body_path: release.txt
        draft: false
        prerelease: false
        files: bin/*-squashfs-sysupgrade.bin

    - name: delete-workflow-runs
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 0
        keep_minimum_runs: 12
