
name: openwrt-build-github-actions

# 4C/16GRAM/14GSSD

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  targets:
    runs-on: ubuntu-latest
    outputs:
      matrix_targets: ${{ steps.set-matrix.outputs.matrix }}
      version: ${{ steps.set-matrix.outputs.version }}
    steps:
      - name: checkout
        uses: actions/checkout@main
      - name: set-matrix
        id: set-matrix
        run: |
          targets=$(grep -v '^$' targets.txt | sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*,*$//' | jq -R . | jq -sc .)
          echo "matrix={\"target\":$targets}" >> $GITHUB_OUTPUT
          echo "version=$(cat version.txt)" >> $GITHUB_OUTPUT

  build:
    needs: targets
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{fromJson(needs.targets.outputs.matrix_targets)}}
    steps:
      - name: checkout
        uses: actions/checkout@main
      - name: clean-system
        run: |
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          df -h
      - name: install-buildsystem
        run: |
          # whoami => runner
          # pwd => /home/runner/work/openwrt-custom-build/openwrt-custom-build
          sudo rm -rf /etc/apt/sources.list.d/*
          sudo apt update
          #sudo apt upgrade -y
          #sudo apt install -y build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses-dev libssl-dev python3 rsync unzip zlib1g-dev file wget tree
          sudo apt-get autoremove --purge
          sudo apt-get clean
          echo "VERSION=$(cat version.txt)" >> $GITHUB_ENV
          mkdir -p bin
      - name: clone-openwrt
        run: |
          echo ${{env.VERSION}}
          git clone https://github.com/openwrt/openwrt.git
          cd openwrt
          git checkout ${{env.VERSION}}
      - name: update-feeds
        working-directory: openwrt
        run: ./scripts/feeds update -a
      - name: install-feeds
        working-directory: openwrt
        run: ./scripts/feeds install -a
      - name: config-targets
        run: bash ./config.sh
#      - name: build-targets
#        id: build-step
#        run: bash ./build.sh ${{ matrix.target }}
#      - name: summary-information
#        run: |
#          tree -L 3 openwrt/bin/targets
#          ls -l bin
#          df -h
      - name: upload-artifact
        if: steps.build-step.conclusion == 'success'
        uses: actions/upload-artifact@main
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          name: $(tmp="${matrix.target//\"/}"; echo "${tmp##*/}")
#          path: bin/*-squashfs-sysupgrade.bin
          path: release.txt
          retention-days: 3

  release:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref_type == 'tag'
    steps:
      - name: download-artifact
        uses: actions/download-artifact@main
        with:
          path: bin
      - name: create-release
        uses: softprops/action-gh-release@master
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          tag_name: ${{needs.targets.outputs.version}}
          #body_path: release.txt
          draft: false
          prerelease: false
          files: bin/*-squashfs-sysupgrade.bin
      - name: delete-workflow-runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 0
          keep_minimum_runs: 5
